.row {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    width: 115px;
    height: 104px;
    background: #fff;
    border-radius: 12px;
    border: 1px solid #F0F0F0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon {
    color: #FF7010;
    font-size: 24px;
}

.content {
    color: #000;
    margin-top: 8px;
    text-align: center;
}

.row a {
    text-decoration: none;
}